 html, body {
  width: 100%;
  height:100%;
}
    body{
        font-size:18px;
        font-family:'dynapuff', cursive;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
      }
@keyframes gradient {
    0% {
        background-color:#5a118f;
    }
    50% {
        background-color: #210536;
    }
    100% {
        background-color: #0b080d;
    }
}

  @keyframes frame{
        0%   {background-image:url('pictures/andrew-de-leon--uWiIajRN0s-unsplash.jpg'); left:100px; top:0px;}
        20%  {background-image:url('pictures/erik-mclean-OQgpRHFJwbQ-unsplash.jpg'); right:0px; top:0px;}
        50%  {background-image:url('pictures/maha-khairy-3uuLWb6aQXc-unsplash.jpg');right:20px; top:200px;}
        75%  {background-image:url('pictures/marek-okon-2m6wr8qMiio-unsplash.jpg'); left:20px; top:200px;}
        100% {background-image:url('pictures/ryan-yao-hhBvtVxDV_I-unsplash.jpg'); right:0px; top:0px;}
      }
      
      #animation{
       color:#fafafa;
        width:20%;
       border-radius: 50%;
        height: 200px;
        position: absolute;
        background-repeat: none;      
        background-attachment: fixed;
        background-size: contain;
        animation-iteration-count: infinite;
        animation-name: frame;
        animation-direction: alternate;
        animation-duration: 15s;
      }
      #container{
        border: 2px solid #4a0404;
        border-radius: 8px;
        text-align:center;
        width:70%;
        margin:0 auto;
        color:#050547;
        background-color:#c5f5bf;
      }
      #title{
        color:#f55f5f;
        font-size:3em;
        box-shadow: 
                5px 2.9px 10px 3px #c2a9ad
        ;
        box-shadow:   5px -2.9px 10px 7px #c2a9ad;
      }
      #description{
        font-style:italic;
        color:#dce31e;
        font-size:1.3em;
      }
      input{
        border-radius:6px;
      }
      .decor{
        background-color:#d4d4ff;
      }
      textarea{
       resize:none;
        width:60%;
       font-size:1.5rem;
       color:#041201;
       font-family:'dynapuff' cursive;
      }
      #posit{
        position: relative;
      }
    
      button{
        padding: 1em 2em 1em 2em;
        margin: auto;
        font-size: 1rem;
      }
      a{
        text-decoration: none;
        color: #1b8a0a;
      }
